%h1 Edit User

= form_with model: @user, local: true do |f|
  = f.label :name
  = f.text_field :name
  = f.label :avatars
  = f.file_field :avatars, multiple: true
  .preview
    - if @user.avatars.attached?
      - @user.avatars.each do |avatar|
        = image_tag avatar.variant(resize: "100x100")

  = f.submit "Edit"